<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="public/scheduler.js"></script>
</head>
<body>
    <h1> Appointment Scheduler</h1>
     <form id="appointment-form" action="/submit-order" method="post">
        <fieldset>
            <legend>Appointment Details</legend>
             <label for="fname">First Name:<span class="error" id="err-fname"></span></label>
            <input type="text" id="fname" name="fname">

             <label for="lname">Last Name:<span class="error" id="err-lname"></span></label>
            <input type="text" id="lname" name="lname">

            <input type="date" id="date" name="date" required>

            <input type="time" id="time" name="time" required>
            <!--Submit button-->
            <button type="submit" id="submit-button">Submit</button>
        </fieldset>
     
    
</body>
</html>